.select {
  padding: 0px 40px;
  color: white;
  font-weight: 700;
}

.select__label {
  padding: 5px;
}

.select__labelText {
  max-width: 150px;
  width: 100%;
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  color: teal;
  font-weight: 700;
}

.select__field {
  max-width: 200px;
  width: 100%;
  border: 2px solid teal;
  border-radius: 5px;
  padding: 5px;
}

.select__option {
  padding: 20px;
}